<app-top></app-top>
<main class="container">
  <section id="home">
    <h1 class="display-1">Home</h1>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/deliver.png"
            class="d-block w-100"
            alt="deliver image"
          />
        </div>
        <div class="carousel-item">
          <img src="assets/pack.png" class="d-block w-100" alt="pack image" />
        </div>
        <div class="carousel-item">
          <img src="assets/pick.png" class="d-block w-100" alt="pick image" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p class="mt-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
      laudantium, enim aspernatur et officiis excepturi pariatur impedit
      delectus deserunt, rem totam perspiciatis doloribus doloremque consequatur
      veritatis illum. Quidem, et fugiat.
    </p>
    <p class="mb-5">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam
      perferendis molestiae fugiat ipsa laborum, quam repudiandae omnis nobis?
      Ullam illo exercitationem reprehenderit! Est reiciendis quia qui
      architecto corrupti blanditiis.
    </p>
  </section>
  <section id="products">
    <h2 class="display-2">Products</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta
      corrupti expedita dolorum magnam, veniam excepturi repellat nulla saepe
      illum dolores, assumenda blanditiis fugit harum dolorem ullam, atque
      doloremque voluptatibus? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Voluptates eveniet excepturi, aliquam laudantium cumque
      eaque suscipit ipsam facilis, a, porro magnam animi incidunt iusto!
      Tempore reprehenderit ea sunt expedita quam?
    </p>
    <div class="card-group">
      <div class="card">
        <img
          src="assets/process.png"
          class="card-img-top"
          alt="process image"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/receive.png"
          class="card-img-top"
          alt="receive image"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="assets/ship.png" class="card-img-top" alt="ship image" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <h2 class="display-2">Services</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis qui
      veritatis culpa. Rerum et suscipit quibusdam veritatis accusantium soluta
      delectus ipsum quo enim. Eum, maiores. Recusandae, eligendi! Aut,
      aspernatur sequi?
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem excepturi
      saepe illum explicabo vero aspernatur animi odit provident beatae at,
      asperiores modi id corporis ipsum neque officia! Nobis, deserunt dicta.
    </p>
  </section>
  <section id="aboutUs">
    <h2 class="display-2">About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab
      reiciendis temporibus quo impedit. Placeat exercitationem culpa
      recusandae, magni maiores tenetur ab necessitatibus minus magnam sint rem
      ut voluptate perferendis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus
      magnam quia totam, corrupti ducimus molestias repellendus quidem
      perspiciatis soluta optio nesciunt, mollitia natus similique distinctio
      autem eos ea illo!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit animi
      totam, quia, reiciendis, iure mollitia sint assumenda in corporis ad non
      molestiae culpa nulla excepturi nobis natus obcaecati! Aspernatur, qui.
    </p>
    <div class="d-flex justify-content-evenly">
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </section>
  <section id="contact">
    <h2 class="display-2">Contact</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
      inventore? Assumenda enim corrupti optio, aperiam possimus sequi saepe
      obcaecati voluptatum dolores temporibus asperiores facilis necessitatibus
      nemo eligendi minima eveniet reiciendis.
    </p>
    <form (submit)="handleSubmit()">
      <div class="input-group mb-3">
        <img src="{{ urlImg }}" class="img-thumbnail" alt="alternative text" />
        <label class="input-group-text" for="inputGroupFile01">URL Image</label>
        <input
          type="text"
          class="form-control"
          id="inputGroupFile01"
          name="urlImg"
          [(ngModel)]="urlImg"
        />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Date</label>
        <input
          type="date"
          class="form-control"
          id="inputGroupFile01"
          name="date"
          [(ngModel)]="outData.date"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Input: {{ inData.date }}</p>
    <p>output: {{ inData.formattedDate }}</p>
  </section>
</main>
<app-bottom></app-bottom>
